canvas {
	width: 100%;
	height: 85%;
	background: black;
}

body, html {
	height: 100%;
	width:100%;
	margin: 0;
}
#metro {
	color: black;
	background-color: white;
}
.mobileButton {
	width: 40px;
	height: 40px;
	display: inline-block;
	text-align: center;
	border-radius: 100%;
}
#pause {
	background: orange;
	color: white;
}
#restart {
	background: red;
	color: white;
}
button:focus {
	outline:0;
}
.mobileButton:target {
	border: white 1px solid;
}
.text {
	padding-top: 2px;
}

